<h3> Would you like to submit a review? </h3>

<%= form_for [@restaurant, @review], :url => restaurant_reviews_path do |f| %>

<% if @review.errors.any? %>
<h2>Errors </h2>
<ul>
<% @review.errors.full_messages.each do |message|%>
<li><%= message %> </li>
<%end%>
</ul>
<%end%>

 <%= f.label :rating%>
 <%= f.text_field :rating, required: true %>

<%= f.label :body %>
<%= f.text_field :body, required: true%>

<%= f.submit 'Submit'%>
<% end %>

<%= link_to 'Back', @restaurant  %>
